@import "macchiato.css";

* {
    font-family: monospace, BlexMono Nerd Font Propo;
    font-size: 12px;
    font-weight: 600;
}

window#waybar {
    background-color: @crust;
    border: none;
    color: @text;
    padding: 0;
}

window#waybar.empty {
}

window#waybar.hidden {
}

/* If someday i want gaps again (shadow for the bar)
window#waybar {
    background-color: transparent;
    border: none;
    padding: 0;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar > box {
    margin: 0px 0px 0.4em 0px;
    background-image: linear-gradient(to top, @crust, @base);
    box-shadow: 0px 0.2em 0.2em 0.1em #101010;
}
*/

button {
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background-color: inherit;
}

#workspaces button {
    color: @lavender;
    padding: 0 0.1em;
}

#workspaces button:hover {
    background: transparent;
    border: transparent;
    box-shadow: inherit;
    color: @mauve;
    padding: 0 0.1em;
    text-shadow: inherit;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.urgent {
    color: @red;
}

#mode {
}

#workspaces,
#clock,
#cpu,
#memory,
#temperature,
#backlight,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#custom-launcher,
#custom-powermenu {
    background-color: @base;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding: 0 0.8em;
}

#workspaces {
    padding: 0 0.5em;
    border-radius: 0.4em;
}

#clock {
    color: @pink;
    border-radius: 0.4em;
}

#cpu {
    color: @teal;
    border-radius: 0.4em 0 0 0.4em;
}

#memory {
    color: @mauve;
}

#backlight {
    color: @yellow;
}

#pulseaudio {
    color: @flamingo;
    border-radius: 0.4em 0 0 0.4em;
}

#pulseaudio.muted {
    color: @crust;
}

#temperature {
    color: @sapphire;
    border-radius: 0px 0.4em 0.4em 0px;
}

#temperature.critical {
    color: @red;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    opacity: 0;
}

#idle_inhibitor.activated {
    opacity: 1;
    border-radius: 0.4em;
}

#scratchpad.empty {
    background-color: transparent;
}

#scratchpad,
#custom-powermenu,
#idle_inhibitor,
#custom-launcher,
#tray {
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 0.4em;
}

#custom-powermenu {
    color: @red;
}
